<h1>About</h1>

<p>Work In Analytics is/are Neil Patel & Shyaam Deshmukh. Part of Analyst365 </p>

<p>We are data geeks and love the adrenalin rush of perusing and gleaning insights out of analytical data. We would like to help the data and analytics professional to search for their dream job, through Analyst 365, in the companies and technologies they admire. This is only the beginning, our lofty goal is to build a community of analytics professionals who give back to the community by sharing knowledge: open source projects, essential tips, tricks, best practices, etc.</p>

<p>Interested? Please feel free to join us in our geeky mission.</p>

Thanks,
Team Analyst 365
